*{
  margin: 0px;
  padding: 0px;
}
body{
  background-color:#7272da ;
}
.App {
  margin-top: 40px;
  text-align: center;
  background-color:#7272da;
  display: flex;
}
.general-box{
  margin: auto;
  background-color: white;
  width: 70%;
  padding: 40px;
  padding-top: 50px;
  border-radius: 20px;
}
